build
build.ios
build.xcode
slib.suo
slib.ncb
slib.opt
slib.lib
slibd.lib
slibw.lib
slibwd.lib
.DS_Store
*.a
*.plg
*.user
*.gcov
*~
.svn
.cvsignore
CVS
debian/files
debian/libslava-dev.debhelper.log
debian/libslava-dev.substvars
debian/libslava-dev
debian/.debhelper
test/coverage/report
